<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Aboubakr ZENNIR</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/x-icon" href="{{ asset('images/developer.png') }}">
		{% block stylesheets %}

			<link rel="stylesheet" href="{{ asset('css/open-iconic-bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/animate.css') }}">

			<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">

			<link rel="stylesheet" href="{{ asset('css/aos.css') }}">

			<link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">

			<link rel="stylesheet" href="{{ asset('css/flaticon.css') }}">
			<link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">

			<link rel="stylesheet" href="{{ asset('css/style.css') }}">


			{# ! ------------ #}


			<!-- Vendor CSS Files -->
			{# <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">  #}
			<link href="{{ asset('bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet"> <link href="{{ asset('glightbox/css/glightbox.min.css') }}" rel="stylesheet">
			<link href="{{ asset('swiper/swiper-bundle.min.css') }}" rel="stylesheet">
			<script src="{{ asset('typed.js/typed.umd.js') }}"></script>

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

			<link
			rel="stylesheet" href="{{ asset('css/style_2.css') }}">
			{# ! ------------ #}
			<link rel="stylesheet" href="{{ asset('css/style_3.css') }}">


		{% endblock %}
	</head>


	{% block body %}
		<body
			data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

			<!-- ======= Header ======= -->
			<header id="header" class="fixed-top">
				<div class="container d-flex align-items-center justify-content-between">

					<h1 class="logo">
						<a href="#"><img src="{{ asset('images/developer.png') }}" alt="img-developer"></a>
					</h1>

					<nav id="navbar" class="navbar">
						<ul>
							<li>
								<a class="nav-link scrollto active" href="#hero">ACCUEIL</a>
							</li>
							<li>
								<a class="nav-link scrollto" href="#about-section">À PROPOS</a>
							</li>
							<li>
								<a class="nav-link scrollto" href="#experience-section">EXPÉRIENCES</a>
							</li>
							<li>
								<a class="nav-link scrollto " href="#skills-section">COMPÉTENCES</a>
							</li>
							<li>
								<a class="nav-link scrollto " href="#projects-section">PORTFOLIO</a>
							</li>
							<li>
								<a class="nav-link scrollto" href="#contact-section">Contact</a>
							</li>
						</ul>
						<i class="bi bi-list mobile-nav-toggle"></i>
					</nav>
					<!-- .navbar -->

				</div>
			</header>
			<!-- End Header -->


			<!-- ======= Hero Section ======= -->
			<div id="hero" class="hero route bg-image" style="background-image: url('{{ asset('images/image_1.jpg') }}');">
				<div class="overlay-itro"></div>
				<div class="hero-content display-table">
					<div class="table-cell">
						<div
							class="container">
							<!--<p class="display-6 color-d">Hello, world!</p>-->
							<h1 class="hero-title mb-4">I am ZENNIR Aboubakr</h1>

							{% for message in app.flashes('success') %}
								<div class="alert alert-success">
									{{ message }}
								</div>
							{% endfor %}

							<p class="hero-subtitle">
								<span class="typed" data-typed-items="Développeur Web, Étudiant au LiveCampus, Recherche une alternance"></span>
							</p>
							<!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Hero Section -->


			<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
				<div class="container">
					<div class="row d-flex">
						<div class="col-md-6 col-lg-5 d-flex">
							<div class="img-about img d-flex align-items-stretch">
								<div class="overlay"></div>
								<div class="img d-flex align-self-stretch align-items-center">
									<div class="rounded-circle img-circle">
										<img class="img-fluid" src="{{ asset('images/me3.png') }}" alt="Votre image">
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
							<div class="row justify-content-start pb-3">
								<div class="col-md-12 heading-section ftco-animate">
									<h1 class="big">À Propos</h1>
									<h2 class="mb-4">À Propos</h2>
									<p>Étudiant en Bachelor Concepteur Développeur d'Applications, je suis un développeur web passionné à la recherche d'une alternance. Créatif, autonome et déterminé, j'ai déjà réalisé plusieurs projets web et je suis prêt à relever de nouveaux défis pour contribuer à l'avenir du développement web.</p>
									<ul class="about-info mt-4 px-md-0 px-2">
										<li class="d-flex">
											<span>Nom:</span>
											<span>ZENNIR Aboubakr</span>
										</li>
										<li class="d-flex">
											<span>Date de naissance:</span>
											<span>1 Février 2003</span>
										</li>
										<li class="d-flex">
											<span>Adresse:</span>
											<span>Strasbourg</span>
										</li>
										<li class="d-flex">
											<span>Code postal:</span>
											<span>67000</span>
										</li>
										<li class="d-flex">
											<span>Email:</span>
											<span>aboubakr.zennir@gmail.com</span>
										</li>
										<!-- <li class="d-flex">
																																																													<span>Tel:</span>
																																																													<span>07 82 03 71 27</span>
																																																												</li> -->
									</ul>
								</div>
							</div>
							<div class="counter-wrap ftco-animate d-flex mt-md-3">
								<div class="text">
									<p class="mb-4">
										<span class="number" data-number="6">0</span>
										<span>Projets terminés</span>
									</p>
									<p>
										<a href="{{ asset('pdf/CV_LiveCampus_ZENNIR_Aboubakr.pdf') }}" class="btn btn-primary py-3 px-3" target="_blank">TÉLÉCHARGER CV</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="ftco-section ftco-no-pb" id="experience-section">
				<div class="container">
					<div class="row justify-content-center pb-5">
						<div class="col-md-10 heading-section text-center ftco-animate">
							<h1 class="big big-2">EXPÉRIENCES</h1>
							<h2 class="mb-4">Expériences professionnelles</h2>
							<p>À travers mes expériences professionnelles, j'ai eu l'opportunité de mettre en pratique mes compétences en développement web tout en nourrissant ma passion pour la création et l'innovation numérique.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="resume-wrap ftco-animate">
								<span class="date">06/2023 - 07/2023</span>
								<h2>Agent de production [Intérimaire]</h2>
								<span class="position">PUNCH POWERGLIDE</span>
								<p class="mt-4">Assemblage de boite de vitesse.Assemblage de boite de vitesse.Assemblage de boite de vitesse.Assemblage de boite de vitesse</p>
							</div>
							<div class="resume-wrap ftco-animate">
								<span class="date">07/2022- 08/2022</span>
								<h2>Manutentionnaire [Intérimaire]</h2>
								<span class="position">DIAM INDUSTRIES</span>
								<p class="mt-4">Manipuler et déplacer manuellement ou mécaniquement des marchandises amenées à être expédiées ou stockées dans un entrepôt.
								</p>
							</div>
							<div class="resume-wrap ftco-animate">
								<span class="date">05/2022 - 07/2022</span>
								<h2>Développeur Web [Stage]</h2>
								<span class="position">SEVILOG / AKEAD</span>
								<p class="mt-4">Développement d'un site web de gestion des tâches hebdomadaires pour les employés de l'entreprise, en utilisant le framework Symfony.</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="resume-wrap ftco-animate">
								<span class="date">01/2023 - 02/2023</span>
								<h2>Développeur Full Stack [Stage]</h2>
								<span class="position">SEVILOG / AKEAD</span>
								<p class="mt-4">Conception d'une application mobile avec Flutter pour la gestion des tâches hebdomadaires des employés, utilisant Symfony comme backend pour les API et la base de données.</p>
							</div>
							<div class="resume-wrap ftco-animate">
								<span class="date">07/2022 - 08/2022</span>
								<h2>Agent de production [Intérimaire]</h2>
								<span class="position">CERELIA</span>
								<p class="mt-4">Préparation méticuleuse et emballage des pizzas dans leurs cartons respectifs. Assurer une production efficace et de qualité, répondant aux normes de l'entreprise.</p>
							</div>
							<div class="resume-wrap ftco-animate">
								<span class="date">07/2021 - 08/2021</span>
								<h2>Agent de quai [Intérimaire]</h2>
								<span class="position">DHL EXPRESS</span>
								<p class="mt-4">Assurer le déchargement, la réception et le tri efficaces des marchandises. Contribué à la logistique et à la gestion des colis pour le succès opérationnel de l'entreprise.
								</p>
							</div>
						</div>
					</div>
					<div class="row justify-content-center mt-5">
						<div class="col-md-6 text-center ftco-animate">
							<p>
								<a href="{{ asset('pdf/CV_LiveCampus_ZENNIR_Aboubakr.pdf') }}" class="btn btn-primary py-3 px-3" target="_blank">TÉLÉCHARGER CV</a>
							</p>
						</div>
					</div>
				</div>
			</section>


			<section class="ftco-section" id="skills-section">
				<div class="container">
					<div class="row justify-content-center pb-5">
						<div class="col-md-12 heading-section text-center ftco-animate">
							<h1 class="big big-2">COMPÉTENCES</h1>
							<h2 class="mb-4">Compétences</h2>
							<p>Découvrez une diversité de compétences que j'ai acquises tout au long de mon parcours en développement web, mobile et logiciel. Je m'efforce de maîtriser ces compétences pour créer des solutions innovantes et répondre aux défis technologiques.</p>
						</div>
					</div>

					{# ! WEB / LOGICIEL #}
					<div class="row">
						<div class="col-md-6">
							<div
								class="skills-left">
								<!-- WEB -->
								<h3 style="color: black; font-weight: bold; ">Web</h3>
								<div class="skill-images" style="grid-template-columns: repeat(4, 1fr);">
									<img src="{{ asset('images/langages/html.png') }}" alt="HTML">
									<img src="{{ asset('images/langages/css.png') }}" alt="CSS">
									<img src="{{ asset('images/langages/php.png') }}" alt="PHP">
									<img src="{{ asset('images/langages/js.png') }}" alt="JS">
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div
								class="skills-right">
								<!-- LOGICIEL -->
								<h3 style="color: black; font-weight: bold; ">
									Logiciel
								</h3>
								<div class="skill-images" style="grid-template-columns: repeat(4, 1fr);">
									<img src="{{ asset('images/langages/c_sharp.png') }}" alt="C#">
									<img src="{{ asset('images/langages/c++.png') }}" alt="C++">
									<img src="{{ asset('images/langages/vb.png') }}" alt="vb">
									<img src="{{ asset('images/langages/python.png') }}" alt="python">
								</div>
							</div>
						</div>
					</div>

					<div style="margin: 30px;"></div>

					{# ! Frameworks/CMS / Base de données #}
					<div class="row">
						<div class="col-md-6">
							<div
								class="skills-left">
								<!-- Frameworks/CMS -->
								<h3 style="color: black; font-weight: bold; ">Frameworks / CMS</h3>
								<div class="skill-images" style="grid-template-columns: repeat(3, 1fr);">
									<img src="{{ asset('images/langages/symfony.png') }}" alt="symfony">
									<img src="{{ asset('images/langages/codeigniter.png') }}" alt="codeigniter">
									<img src="{{ asset('images/langages/flutter.png') }}" alt="flutter">
									<img src="{{ asset('images/langages/ionic.png') }}" alt="ionic">
									<img src="{{ asset('images/langages/react.png') }}" alt="react">
									<img src="{{ asset('images/langages/wordpress.png') }}" alt="wordpress">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div
								class="skills-right">
								<!-- Base de données -->
								<h3 style="color: black; font-weight: bold; ">
									Base de données
								</h3>
								<div class="skill-images" style="grid-template-columns: repeat(2, 1fr);">
									<img src="{{ asset('images/langages/mysql.png') }}" alt="mysql">
									<img src="{{ asset('images/langages/sql-server.png') }}" alt="sql-server">
									<img src="{{ asset('images/langages/mariadb.png') }}" alt="mariadb">
									<img src="{{ asset('images/langages/mongodb.png') }}" alt="mongodb">
								</div>
							</div>
						</div>
					</div>

					<div style="margin: 30px;"></div>

					{# ! Versioning / Gestion de projet #}
					<div class="row">
						<div class="col-md-6">
							<div
								class="skills-left">
								<!-- Versioning -->
								<h3 style="color: black; font-weight: bold; ">Versioning</h3>
								<div class="skill-images" style="grid-template-columns: repeat(2, 1fr);">
									<img src="{{ asset('images/langages/git.png') }}" alt="git">
									<img src="{{ asset('images/langages/github.png') }}" alt="github">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div
								class="skills-right">
								<!-- Gestion de projet -->
								<h3 style="color: black; font-weight: bold; ">
									Gestion de projet
								</h3>
								<div class="skill-images" style="grid-template-columns: repeat(2, 1fr);">
									<img src="{{ asset('images/langages/trello.png') }}" alt="trello">
									<img src="{{ asset('images/langages/scrum.png') }}" alt="scrum">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			{# ! Porfolio #}

			<section class="ftco-section ftco-project" id="projects-section">
				<div class="container">
					<div class="row justify-content-center pb-5">
						<div class="col-md-12 heading-section text-center ftco-animate">
							<h1 class="big big-2">Portfolio</h1>
							<h2 class="mb-4">Portfolio</h2>
							<p>Découvrez une sélection de projets variés mettant en avant mes compétences en développement et ma créativité</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="project img ftco-animate d-flex justify-content-center align-items-center" data-name="Journée Porte Ouverte | Application web" data-description="Application web pour la Journée Portes Ouvertes du Lycée René Cassin Strasbourg. Cette application à pour objectif de permettre aux personnes intéressées par les formations proposées par le lycée de donner leur avis et de fournir des statistiques pour chaque formation." data-image="{{ asset('images/jpo.png') }}" data-descriptionstack="Projet développée dans le cadre de ma formation de BTS SIO de 2 manières. La première en php native pour comprendre les fondamentaux du PHP puis la seconde à l'aide d'un framework CodeIgniter (MVC). Données utilisateurs enregistrées en base de données MySQL, Serveur Xampp php v7." style="background-image: url('{{ asset('images/jpo.png') }}'); background-size: 100% 100%; background-repeat: no-repeat; background-position: center center;">
								<div class="overlay"></div>
								<div class="text text-center p-4">
									<h3>
										<a href="#">Journée Porte Ouverte</a>
									</h3>
									<span>Application web</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="project img ftco-animate d-flex justify-content-center align-items-center" data-name="CRIÉE | Application web" data-description="L'application web, appelée CRIÉE, permet la vente aux enchères de produits de la mer, notamment des poissons, crustacés, fruits de mer, et plus encore. Son objectif principal est de faciliter la vente de ces produits, en permettant aux vendeurs de les proposer aux acheteurs, qu'ils soient des particuliers, des professionnels, des restaurateurs ou des acteurs de la grande distribution." data-image="{{ asset('images/criee.png') }}" data-descriptionstack="Ce projet a été réalisé en collaboration dans le cadre de ma formation en BTS SIO. Il a été développé en groupe en utilisant le framework CodeIgniter (MVC) et les données sont stockées dans une base de données MySQL, fonctionnant sur le serveur XAMPP avec PHP version 7." style="background-image: url('{{ asset('images/criee.png') }}'); background-size: 100% 100%; background-repeat: no-repeat; background-position: center center;">
								<div class="overlay"></div>
								<div class="text text-center p-4">
									<h3>
										<a href="#">CRIÉE</a>
									</h3>
									<span>Application web</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="project img ftco-animate d-flex justify-content-center align-items-center" data-name="AKEAD TECH | Application web" data-description="Akead Tech est une application web conçue pour une gestion plus efficace des tâches hebdomadaires grâce à un système de catégorisation par couleur (vert pour 'faites', orange pour 'en cours', rouge pour 'urgent' et bleu pour 'non faites'). Les tâches sont présentées sous forme de calendrier, offrant une meilleure visualisation, et elle se distingue de Google Agenda par son adaptation aux besoins spécifiques de l'entreprise, en harmonie avec son environnement de travail. Les tâches sont affichées sur le calendrier pour une meilleure visibilité, et l'application se démarque de Google Agenda en étant parfaitement adaptée aux exigences particulières de l'entreprise, en synergie avec son cadre professionnel. Différentes options de calendriers sont proposées : quotidien, hebdomadaire, mensuel." data-image="{{ asset('images/akead-tech.png') }}" data-descriptionstack="Le projet se compose de plusieurs pages, dont l'accueil, les tâches, la location et un mode admin. Il a été développé en collaboration avec un autre stagiaire lors de mon stage de première année de BTS SIO. Pour ce faire, nous avons utilisé le framework Symfony 5.4.18, et les données sont stockées dans une base de données MySQL, qui fonctionne sur le serveur XAMPP avec PHP version 8. L'accès au site web est réservé exclusivement à l'entreprise." style="background-image: url('{{ asset('images/akead-tech.png') }}'); background-size: 100% 100%; background-repeat: no-repeat; background-position: center center;">
								<div class="overlay"></div>
								<div class="text text-center p-4">
									<h3>
										<a href="#">AKEAD TECH</a>
									</h3>
									<span>Application web</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="project img ftco-animate d-flex justify-content-center align-items-center" data-name="Crédit Celeste | Application logiciel" data-description="Le logiciel Crédit Celeste, conçu dans le cadre de mon BTS SIO, est une application Windows qui vise à simplifier le processus de demande de crédit pour l'achat de voitures neuves ou d'occasion. Les utilisateurs peuvent soumettre leur demande de crédit directement en concession ou garage partenaires." data-image="{{ asset('images/credit-celeste.png') }}" data-descriptionstack="L'application a été développée en utilisant C# sous Visual Studio 2019, avec un serveur de base de données SQL Server hébergé sur une machine virtuelle. Elle utilise l'interface Windows Forms pour son affichage." style="background-image: url('{{ asset('images/credit-celeste.png') }}'); background-size: 100% 100%; background-repeat: no-repeat; background-position: center center;">
								<div class="overlay"></div>
								<div class="text text-center p-4">
									<h3>
										<a href="#">Crédit Celeste</a>
									</h3>
									<span>Application logiciel</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="project img ftco-animate d-flex justify-content-center align-items-center" data-name="Akead Tech Mobile | Application mobile" data-description="Akead Tech Mobile est une application mobile disponible sur les plateformes iOS et Android, partageant la même approche que l'application web Akead Tech. Elle vise à faciliter la gestion des tâches hebdomadaires en utilisant un système de codage couleur (vert pour 'faites', orange pour 'en cours', rouge pour 'urgent' et bleu pour 'non faites'). Cette version mobile complète le site web." data-image="{{ asset('images/akead-tech-mobile.png') }}" data-descriptionstack="L'application mobile est développée en utilisant Flutter 3.7.5 et le langage Dart 2.19.2. Elle se connecte au backend du site web Akead Tech, construit avec Symfony, pour accéder aux API et récupérer les données nécessaires à l'affichage. L'accès à l'application mobile est strictement réservé à l'entreprise." style="background-image: url('{{ asset('images/akead-tech-mobile.png') }}'); background-size: 100% 100%; background-repeat: no-repeat; background-position: center center;">
								<div class="overlay"></div>
								<div class="text text-center p-4">
									<h3>
										<a href="#">Akead Tech Mobile</a>
									</h3>
									<span>Application mobile</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="project img ftco-animate d-flex justify-content-center align-items-center" data-name="Portfolio | Application web" data-description="Site web sur lequel vous êtes actuellement, et toujours en cours d'évolution." data-image="{{ asset('images/portfolio.png') }}" data-descriptionstack="Le portfolio actuel est construit à l'aide de Symfony 5.4.18." style="background-image: url('{{ asset('images/portfolio.png') }}'); background-size: 100% 100%; background-repeat: no-repeat; background-position: center center;">
								<div class="overlay"></div>
								<div class="text text-center p-4">
									<h3>
										<a href="#">Porfolio</a>
									</h3>
									<span>Application web</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalTitle" aria-hidden="true" style="color: black;">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-footer">
							<button type="button" class="btn btn-custom close-button" data-dismiss="modal">Close</button>
						</div>
						<h5 class="modal-title text-center" id="projectModalTitle" style="color: black; text-align: center;"></h5>
						<div class="modal-body">
							<div id="projectDescription"></div>
							<div class="project-details-grid">
								<div class="project-image">
									<div id="projectImages"></div>
								</div>
								<div class="project-description">
									<p id="projectStack"></p>
								</div>
							</div>
						</div>
						<div class="modal-header">
							<button type="button" class="btn btn-custom close-button" data-dismiss="modal">Close</button>
							<h5 class="modal-title text-center" id="projectModalTitle" style="color: black; text-align: center;"></h5>
						</div>
					</div>
				</div>
			</div>

			{# ! Porfolio END #}
			<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
				<div class="container">
					<div class="row justify-content-center mb-5 pb-3">
						<div class="col-md-7 heading-section text-center ftco-animate">
							<h1 class="big big-2">CONTACT</h1>
							<h2 class="mb-4">Contactez-moi</h2>
							<p>Vous pouvez me contacter via le formulaire ou les liens proposés, je vous répondrai dans les meilleurs délais.</p>
						</div>
					</div>
					<div
						class="row no-gutters block-9" style="background-color: #f8f9fa;">
						<!-- Colonne gauche avec le formulaire -->
						<div class="col-md-6 d-flex">
							<form action="{{ path('home') }}" method="POST" class="bg-light p-4 p-md-5 contact-form" style="width: 100%;">
								{{ form_start(form) }}

								<!-- Champ "Nom et prénom" -->
								<div class="form-group">
									{{ form_row(form.name) }}
								</div>

								<!-- Champ "Email" -->
								<div class="form-group">
									{{ form_row(form.email) }}
								</div>

								<!-- Champ "Objet" -->
								<div class="form-group">
									{{ form_row(form.subject) }}
								</div>

								<!-- Champ "Message" -->
								<div class="form-group">
									{{ form_row(form.message) }}
								</div>

								<!-- Case à cocher pour accepter les termes et conditions -->
								<div class="form-group" style="display: flex; align-items: center;">
									{{ form_widget(form.acceptTerms, {'attr': {'style': 'margin-right: 10px;'}}) }}
									<label for="{{ form.acceptTerms.vars.id }}" style="margin: 0;">
										En soumettant ce formulaire, j'accepte que mes données personnelles soient utilisées pour me recontacter. Aucun autre traitement ne sera effectué avec mes informations. Pour connaître et exercer vos droits, veuillez consulter la
										<span>
											<a class="font-weight-bold" href="#">Politique de confidentialité.</a>
										</span>
									</label>
								</div>

								<div class="form-group text-center">
									<input type="submit" value="ENVOYER" class="btn btn-primary py-3 px-5">
								</div>

								{{ form_end(form) }}
							</form>
						</div>
						<!-- Colonne droite avec les informations de contact -->
						<div
							class="col-md-6" style="color: black;">
							<!-- Informations de contact à droite -->
							<div class="contact-info">
								<div class="grid-container">
									<div class="grid-item">
										<i class="fa fa-envelope"></i>
										<span style="margin-left: 10px;">
											<a style="color: black;" href="mailto:aboubakr.zennir@gmail.com">aboubakr.zennir@gmail.com
											</a>
										</span>
									</div>
									{# <div class="grid-item">
																																																																																																																																																																																					<i class="fa fa-phone"></i>
																																																																																																																																																																																					<span style="margin-left: 10px;">07 82 03 71 27</span>
																																																																																																																																																																																				</div> #}
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>


			<footer class="ftco-footer ftco-section">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<p>
								© Copyright 2023 | Aboubakr ZENNIR | Tous droits réservés
								<br>
								<a href="https://www.linkedin.com/in/aboubakr-zennir-25b4b919a/" class="icon-linkedin"></a>
								<a href="https://github.com/Aboubakr67" class="icon-github"></a>
								<a href="mailto:aboubakr.zennir@gmail.com" class="icon-email">
									<i class="bi bi-envelope-open-fill"></i>
								</a>
								<br>
								<a href="{{ path('mentions-legales') }}">Mentions légales</a>
								<span>|</span>
								<a href="{{ path('politique-de-confidentialite') }}">Politique de confidentialité</a>
							</p>
						</div>
					</div>
				</div>
			</footer>

		{% endblock %}
		{% block javascripts %}
			<script src="{{ asset('js/jquery.min.js') }}"></script>
			<script src="{{ asset('js/jquery-migrate-3.0.1.min.js') }}"></script>
			<script src="{{ asset('js/popper.min.js') }}"></script>
			<script src="{{ asset('js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
			<script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
			<script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
			<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
			<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
			<script src="{{ asset('js/aos.js') }}"></script>
			<script src="{{ asset('js/jquery.animateNumber.min.js') }}"></script>
			<script src="{{ asset('js/scrollax.min.js') }}"></script>

			{# Emailjs #}
			<script src="https://cdn.emailjs.com/dist/email.min.js"></script>

			<script src="{{ asset('js/main.js') }}"></script>

			<script src="{{ asset('js/main_2.js') }}"></script>

			<script src="{{ asset('purecounter/purecounter_vanilla.js') }}"></script>
			<script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('glightbox/js/glightbox.min.js') }}"></script>
			<script src="{{ asset('swiper/swiper-bundle.min.js') }}"></script>
			<script src="{{ asset('typed.js/typed.umd.js') }}"></script>
			<script src="{{ asset('php-email-form/validate.js') }}"></script>

			<script src="{{ asset('js/main_3.js') }}"></script>
		{% endblock %}
	</body>
</html></body></html></body></html>
