<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Aboubakr ZENNIR</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/x-icon" href="{{ asset('images/developer.png') }}">


		{% block stylesheets %}

			<link rel="stylesheet" href="{{ asset('css/open-iconic-bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/animate.css') }}">

			<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">

			<link rel="stylesheet" href="{{ asset('css/aos.css') }}">

			<link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">

			<link rel="stylesheet" href="{{ asset('css/flaticon.css') }}">
			<link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">

			<link rel="stylesheet" href="{{ asset('css/style.css') }}">


			{# ! ------------ #}


			<!-- Vendor CSS Files -->
			{# <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">  #}
			<link href="{{ asset('bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet"> <link href="{{ asset('glightbox/css/glightbox.min.css') }}" rel="stylesheet">
			<link href="{{ asset('swiper/swiper-bundle.min.css') }}" rel="stylesheet">
			<script src="{{ asset('typed.js/typed.umd.js') }}"></script>

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

			<link
			rel="stylesheet" href="{{ asset('css/style_2.css') }}">
			{# ! ------------ #}
			<link rel="stylesheet" href="{{ asset('css/style_3.css') }}">


		{% endblock %}
	</head>


	{% block body %}
		<body
			data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


			<!-- ======= Header ======= -->
			<header id="header" class="fixed-top">
				<div class="container d-flex align-items-center justify-content-between">

					<h1 class="logo">
						<a href="#"><img src="{{ asset('images/developer.png') }}" alt="img-developer"></a>
					</h1>

					<nav id="navbar" class="navbar">
						<ul>
							<li>
								<a class="nav-link scrollto active" href="{{ path('home') }}#hero">ACCUEIL</a>
							</li>
							<li>
								<a class="nav-link scrollto" href="{{ path('home') }}#about-section">À PROPOS</a>
							</li>
							<li>
								<a class="nav-link scrollto" href="{{ path('home') }}#experience-section">EXPÉRIENCES</a>
							</li>
							<li>
								<a class="nav-link scrollto " href="{{ path('home') }}#skills-section">COMPÉTENCES</a>
							</li>
							<li>
								<a class="nav-link scrollto " href="{{ path('home') }}#projects-section">PORTFOLIO</a>
							</li>
							<li>
								<a class="nav-link scrollto" href="{{ path('home') }}#contact-section">Contact</a>
							</li>
						</ul>
						<i class="bi bi-list mobile-nav-toggle"></i>
					</nav>
					<!-- .navbar -->

				</div>
			</header>
			<!-- End Header -->


			<!-- Politique de confidentialité -->
			<div class="container mt-5">
				<div class="row">
					<div class="col-12">
						<div class="text-center">
							<h2 class="mb-4 custom-margin-top">Politique de Confidentialité</h2>
						</div>

						<p>Je tiens à protéger votre vie privée et à respecter toutes les lois en vigueur en matière de protection des données. Cette politique explique comment j'utilise les informations collectées sur mon site.</p>

						<h2>Responsable de Traitement des Données</h2>
						<p>Responsable : ZENNIR Aboubakr<br>
							Contact :
							<a href="mailto:aboubakr.zennir@gmail.com">aboubakr.zennir@gmail.com</a>
						</p>

						<h2>Portée et Acceptation de la Politique</h2>
						<p>Cette politique s'applique uniquement aux informations collectées sur mon site. En utilisant mon site, vous acceptez cette politique. Si vous n'êtes pas d'accord, n'utilisez pas mon site ni ne fournissez d'informations personnelles.</p>

						<h2>Données Collectées</h2>
						<p>Je collecte uniquement les données personnelles que vous fournissez volontairement via mon site. Cela peut inclure votre nom, prenom, votre adresse e-mail, etc.</p>

						<h2>Finalité de la Collecte des Données</h2>
						<p>J'utilise vos données que dans le but pour lequel vous les avez fournies, tel qu'expliqué sur le formulaire de contact.</p>

						<h2>Destinataires des Données Personnelles</h2>
						<p>Vos données restent confidentielles et ne sont pas transmises à des tiers, sauf si requis par la loi.</p>

						<h2>Durée de Conservation</h2>
						<p>Vos données sont conservées aussi longtemps que nécessaire ou conformément à la loi en vigueur.</p>

						<h2>Vos Droits</h2>
						<p>Vous avez le droit d'accéder, de modifier, de rectifier ou de supprimer vos données. Pour exercer ce droit, contactez-moi à
							<a href="mailto:aboubakr.zennir@gmail.com">aboubakr.zennir@gmail.com</a>.</p>

						<h2>Sécurité</h2>
						<p>Je prends des mesures de sécurité pour protéger vos données, mais je ne peux garantir la sécurité totale en raison de la nature d'Internet.</p>
					</div>
				</div>
			</div>
			<!-- Fin des Politique de confidentialité -->

			<footer class="ftco-footer ftco-section">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<p>
								© Copyright 2023 | Aboubakr ZENNIR | Tous droits réservés
								<br>
								<a href="https://www.linkedin.com/in/aboubakr-zennir-25b4b919a/" class="icon-linkedin"></a>
								<a href="https://github.com/Aboubakr67?tab=repositories" class="icon-github"></a>
								<a href="mailto:aboubakr.zennir@gmail.com" class="icon-email">
									<i class="bi bi-envelope-open-fill"></i>
								</a>
								<br>
								<a href="{{ path('mentions-legales') }}">Mentions légales</a>
								<span>|</span>
								<a href="{{ path('politique-de-confidentialite') }}">Politique de confidentialité</a>
							</p>
						</div>
					</div>
				</div>
			</footer>

		{% endblock %}

		{% block javascripts %}
			<script src="{{ asset('js/jquery.min.js') }}"></script>
			<script src="{{ asset('js/jquery-migrate-3.0.1.min.js') }}"></script>
			<script src="{{ asset('js/popper.min.js') }}"></script>
			<script src="{{ asset('js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
			<script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
			<script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
			<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
			<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
			<script src="{{ asset('js/aos.js') }}"></script>
			<script src="{{ asset('js/jquery.animateNumber.min.js') }}"></script>
			<script src="{{ asset('js/scrollax.min.js') }}"></script>

			<script src="{{ asset('js/main.js') }}"></script>

			<script src="{{ asset('js/main_2.js') }}"></script>

			<script src="{{ asset('purecounter/purecounter_vanilla.js') }}"></script>
			<script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('glightbox/js/glightbox.min.js') }}"></script>
			<script src="{{ asset('swiper/swiper-bundle.min.js') }}"></script>
			<script src="{{ asset('typed.js/typed.umd.js') }}"></script>
			<script src="{{ asset('php-email-form/validate.js') }}"></script>

			<script src="{{ asset('js/main_3.js') }}"></script>
		{% endblock %}
	</body>
</html>
